.col-xs-12
  .content-panel
    %h2.yellowmountain.headline Pages
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th Title
            %th Author
            %th Date
            %th Body
            %th
        %tbody.bg-white
          = render @pages