%tr
  %td
    %a.github{:href => edit_admin_domain_path(domain.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      %strong= domain_counter + 1
  %td
    %a.github{:href => edit_admin_domain_path(domain.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = domain.full
  %td
    %a.github{:href => edit_admin_domain_path(domain.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = domain.owner.name
  %td.text-center
    %a.github{:href => edit_admin_domain_path(domain.slug), :style => 'display:block;margin:-8px;padding:8px;'}
      = domain.mailboxes.count
  %td
    %a{:href => edit_admin_domain_path(domain.slug)}
      %i.fa.fa-fw.fa-pencil.olive
    %a{:href => admin_domain_path(domain.slug), 'data-method' => 'delete', :rel => 'nofollow', 'data-confirm' => 'Are you sure?'}
      %i.fa.fa-fw.fa-trash-o.rubylang