.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
  .col-xs-12
    .content-panel.bg-white
      - if @blog_posts.empty?
        %h2.headline.yellowmountain No Posts
      - else
        = render @blog_posts