// New problem:
// Turbolinks destroys our lovely three.js header. You have a fix for this in... timepiece. Integrate it.
// Yeah, the timepiece fix does not work. No idea why. This is a more complex problem than I have yet solved.