%tr
  %td.innerpadding.borderbottom
    %table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
      %tr
        %td.h2
          Welcome to our responsive email!
      %tr
        %td.bodycopy
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
%tr
  %td.innerpadding.borderbottom
    %table{ :width => "115", :align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0" }
      %tr
        %td{ :height => "115", :style => "padding: 0 20px 20px 0;" }
          = image_tag 'static.png', :width => "115", :height => "115", :border => "0", :alt => ""
    <!--[if (gte mso 9)|(IE)]> <table width="380" align="left" cellpadding="0" cellspacing="0" border="0"> <tr> <td> <![endif]-->
    %table.col380{ :align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width: 100%; max-width: 380px;"}
      %tr
        %td
          %table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
            %tr
              %td.bodycopy
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
            %tr
              %td{ :style => "padding: 20px 0 0 0;"}
                %table.buttonwrapper{ :bgcolor => "#e05443", :border => "0", :cellspacing => "0", :cellpadding => "0" }
                  %tr
                    %td.button{ :height => "45" }
                      = link_to "Claim yours!", '#'
    <!--[if (gte mso 9)|(IE)]> </td> </tr> </table> <![endif]-->
%tr
  %td.innerpadding.borderbottom
    = image_tag 'static.png', :alt => "", :border => "0", :width => "100%"
%tr
  %td.innerpadding.borderbottom
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.