@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "timepiece";

@import "colors";

@import "fonts";

*:focus, *:active {
    outline: none !important;
}

body{padding-top:80px;}


// Background
#background{
  min-width:100vw;
  min-height:100vh;
  position:fixed;
  z-index:-1;
  bottom:0;
  left:0;
}
.content-panel{
  border: 1px solid $silver;
  background-color:#efefef;
  box-shadow: 3px 3px 5px 1px #bbb;
  padding:0 20px 5px 20px;
  margin-bottom:20px;
}

//.navbar{height:70px;}

.navbar-fixed-top{border:none;height:60px;}
.navbar-header{padding-left:1px;padding-right:7px;}
.navbar-brand{font-size:2em;}

.navbar-charcoal{
  background-color:#f5f5f5;
  background-color:rgba(#f5f5f5, 0.5);
  li a{
    padding-top:20px;
    padding-bottom:20px;
    color:$github;
    font-weight:300
  }
  li a:hover, li a:focus{
  background-color: lighten($silver, 5%);
  background-color: rgba(lighten($silver, 5%), 0.9);
  }
  .active a, .active a:hover, .active a:focus{
    color:$github;
    background-color: lighten($silver, 2%);
    background-color: rgba(lighten($silver, 2%), 0.9);
  }
}

.headline{font-family: 'Helvetica Neue', 'Roboto', sans-serif;font-weight:100;}


.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    background-color: rgba(#f5f5f5, 0.5);
  }
}

.sidebar-left{
  left: 0;
  //border-right: 1px solid #eee;
  //box-shadow: 3px 0 20px 1px #bbb;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
}
.nav-sidebar > li > a {
  color: $github;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  background-color: lighten($silver, 5%);
  background-color: rgba(lighten($silver, 5%), 0.9);
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: $github;
  background-color: lighten($silver, 2%);
  background-color: rgba(lighten($silver, 2%), 0.9);
}
.sidebar > h3 {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
  padding: 10px 20px;
  margin-top:0;
  margin-bottom:0;
  background-color: darken($silver, 5%);
  background-color: rgba(darken($silver, 5%), 0.75);
}

// From http://getbootstrap.com/examples/dashboard/
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
