@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "timepiece";

@import "colors";

@import "fonts";

*:focus, *:active {
    outline: none !important;
}

body{padding-top:70px;}


// Background
#background{
  min-width:100vw;
  min-height:100vh;
  position:fixed;
  z-index:-1;
  bottom:0;
  left:0;
}
.content-panel{
  border: 1px solid $silver;
  background-color:#efefef;
  box-shadow: 3px 3px 5px 1px #bbb;
  padding:0 20px 5px 20px;
  margin-bottom:20px;
}

//.navbar{height:70px;}


.headline{font-family: 'Helvetica Neue', 'Roboto', sans-serif;font-weight:100;}