@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "timepiece";

*:focus, *:active {
    outline: none !important;
}
// was just noticing highlighting in Firefox. Sources suggest removing outline from 'active', but it's removing it from 'focus' that does the trick.
// This will mean some additional work, mind you, to support keyboard navigation for accessibility (even my bank don't support that; it's frustrating)
body{
  background-color:#efefef;
  padding:0;
  margin:0;
}
.row{
  margin-left:0;
  margin-right:0;
}


//Header
#header{
  position:relative;
  overflow:hidden;
  //padding-bottom:10px;
}
// Header / Background
#header-background{
  min-width:100vw;
  min-height:250px;
  position:absolute;
  z-index:-1;
  bottom:-100px;
  left:0;
}
// Header / Logo
#mountain{
  width:100vw;
  //height:40vh; Set dynamically so that div-size is not for image placeholder.
  //min-height:250px; Set dynamically so that div-size is not for image placeholder.
  margin-bottom:10px;
}
// min-height - it works conceptually, but what about when the image is shrunk on super-small devices? // Suddenly the containing div is too tall for it.
canvas{
  padding:0;
  margin:0;
  background:none;
}
.static-logo{min-width:200px; width:100%; margin-top:50px;}
// Solution? When scaled to 320 width, the height of our image is just shy of 250. Therefore 250 is a sane value for min-width above

// Header / Navbar
.navbar{background-color:transparent;border:none;}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
