@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "timepiece";

@import "colors";

@import "fonts";

.word-break{
  -ms-word-break: break-all;

       /* Be VERY careful with this, breaks normal words wh_erever */
       word-break: break-all;

       /* Non standard for webkit */
       word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

html.turbolinks-progress-bar::before {
  background-color: $yellowmountain !important;
}

*:focus, *:active {
    outline: none !important;
}
// was just noticing highlighting in Firefox. Sources suggest removing outline from 'active', but it's removing it from 'focus' that does the trick.
// This will mean some additional work, mind you, to support keyboard navigation for accessibility (even my bank don't support that; it's frustrating)
body{
  background-color:#efefef;
  padding:0;
  //padding-bottom:50px;
  margin:0;
}
.row{
  //margin-left:0;
  //margin-right:0;
}

.content-panel{
  border: 1px solid $silver;
  background-color:#efefef;
  box-shadow: 3px 3px 5px 1px #bbb;
  padding:0 20px 5px 20px;
  margin-bottom:20px;
}

// Background
#background{
  min-width:100vw;
  min-height:100vh;
  position:fixed;
  z-index:-1;
  bottom:0;
  left:0;
}
//Header
#header{
  position:relative;
  overflow:hidden;
  //padding-bottom:10px;
}
// Header / Logo
#mountain{
  width:100vw;
  //height:40vh; Set dynamically so that div-size is not for image placeholder.
  //min-height:250px; Set dynamically so that div-size is not for image placeholder.
  margin-bottom:10px;
}
// min-height - it works conceptually, but what about when the image is shrunk on super-small devices? // Suddenly the containing div is too tall for it.
canvas{
  padding:0;
  margin:0;
  background:none;
}
.static-logo{min-width:200px; width:100%; margin-top:50px;}
// Solution? When scaled to 320 width, the height of our image is just shy of 250. Therefore 250 is a sane value for min-width above

// Header / Navbar
.navbar{background-color:transparent;border:none;}
.navbar .navbar-nav, .navbar .navbar-text.temporary {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.headline{font-family: 'Helvetica Neue', 'Roboto', sans-serif;font-weight:100;}

a.social{text-decoration:none; &:hover{text-decoration:none;}}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
