@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "timepiece";

.navbar{background-color:transparent;border:none;}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.row{
  margin-left:0;
  margin-right:0;
}