%tr
  %td.footer{:bgcolor => "#efefef"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.footercopy{:align => "center"}
          \&copy; Someone, somewhere 2013
          %br/
          %a{:href => "#"}
            %font{:color => "#333333"} Unsubscribe
          from this newsletter instantly