%tr
  %td.footer{:bgcolor => "#efefef"}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.footercopy{:align => "center"}
          Copyright &copy; #{Date.today.strftime('%Y')} Yellow Mountain Ltd. All rights reserved.
          %br/
          Yellow Mountain Ltd. Company No. 09616089
          /%a{:href => "#"}
          ///%font{:color => "#333333"} Unsubscribe
          /from this newsletter instantly