%tr
  %td.header{:background => image_path('skyscape.png')}
    %a{:href => root_url}
      %img{:alt => "", :border => "0", :src => image_path('static.png'), :width => "100%"}/
%tr
  %td.meta{:bgcolor => '#efc918'}
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td.metacopy{:align => "center"}
          = Time.now.strftime("%b %-d, %Y").upcase
