%tr
  %td.innerpadding.borderbottom
    %table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
      %tr
        %td.h2
          Welcome #{@email}!
      %tr
        %td.bodycopy
          %p You can confirm your account email through the link below:
          %p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
%tr
  %td.innerpadding.borderbottom
    You are receiving this email because you recently registered a user account at #{link_to 'Yellow Mountain', root_url}. If you did not register an account or have otherwise received this message in error, you may ignore it. To confirm your account, please use the link provided.