%tr
  %td.innerpadding.borderbottom
    %table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
      %tr
        %td.h2
          Hello #{@resource.email}!
      %tr
        %td.bodycopy
          %p Someone has requested a link to change your password. You can do this through the link below.
          %p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
          %p If you didn't request this, please ignore this email.
          %p Your password won't change until you access the link above and create a new one.
%tr
  %td.innerpadding.borderbottom
    %img{:alt => "", :border => "0", :src => image_path('static.png'), :width => "100%"}/
