%tr
  %td.innerpadding.borderbottom
    %table{ :width => "100%", :border => "0", :cellspacing => "0", :cellpadding => "0" }
      %tr
        %td.h2
          Hello #{@resource.email}!
      %tr
        %td.bodycopy
          %p Your account has been locked due to an excessive number of unsuccessful sign in attempts.
          %p Click the link below to unlock your account:
          %p= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token)
%tr
  %td.innerpadding.borderbottom
    You are receiving this email due to repeated failed access attempts to your account at #{link_to 'Yellow Mountain', root_url}. If you feel that you have received this message in error, you may ignore it. To unlock your account, please use the link provided.