.col-xs-12
  .content-panel
    %h2.yellowmountain.headline Users
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th Name
            %th Email
            %th Bio
            %th.text-center
              %i.fa.fa-briefcase
            %th.text-center
              %i.fa.fa-server
            %th.text-center
              %i.fa.fa-envelope
            %th Roles
            %th
        %tbody.bg-white
          = render @users