.col-xs-12
  .content-panel
    %h2.yellowmountain.headline Users
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Email
            %th Bio
            %th Roles
        %tbody.bg-white
          = render @users