.navbar.navbar-static-top.navbar-default
  .container-fluid.text-center
    %ul.nav.navbar-nav
      %li
        %a{'href' => root_path, 'title' => 'page and content'} Home
      %li
        %a{'href' => vanity_path('about'), 'title' => 'page and users'} About
      %li
        %a{'href' => vanity_path('our-work'), 'title' => 'content'} Our Work
      %li
        %a{'href' => vanity_path('contact'), 'title' => 'page'} Contact
      %li
        %a{'href' => blog_posts_path, 'title' => 'content'} Blog
    .nav.navbar-text.temporary.hidden
      Building Mountains. Come back soon.