.navbar.navbar-static-top.navbar-default
  .container-fluid.text-center
    %ul.nav.navbar-nav.hidden
      %li
        %a{'href' => root_path, 'title' => 'page and content'} Home
      %li
        %a{'href' => root_path, 'title' => 'page and users'} About
      %li
        %a{'href' => root_path, 'title' => 'content'} Our Work
      %li
        %a{'href' => root_path, 'title' => 'page'} Contact
      %li
        %a{'href' => root_path, 'title' => 'content'} Blog
    .nav.navbar-text.temporary
      Building Mountains. Come back soon.