.navbar.navbar-static-top.navbar-default
  .container-fluid.text-center
    %ul.nav.navbar-nav
      %li
        %a{'href' => root_path, 'title' => 'Home'} Home
      - unless Page.where(:slug => 'about').empty?
        %li
          %a{'href' => vanity_path('about'), 'title' => 'About Us'} About
      - unless Page.where(:slug => 'our-work').empty?
        %li
          %a{'href' => vanity_path('our-work'), 'title' => 'Our Work'} Our Work
      - unless Page.where(:slug => 'contact').empty?
        %li
          %a{'href' => vanity_path('contact'), 'title' => 'Contact Us'} Contact
      %li
        %a{'href' => blog_posts_path, 'title' => 'content'} Blog
    .nav.navbar-text.temporary.hidden
      Building Mountains. Come back soon.