.navbar.navbar-static-top.navbar-default
  .container-fluid.text-center
    %ul.nav.navbar-nav
      %li
        %a{'href' => root_path} Home
      %li
        %a{'href' => root_path} About
      %li
        %a{'href' => root_path} Our Work
      %li
        %a{'href' => root_path} Contact
      %li
        %a{'href' => root_path} Blog