!!!
%html
  %head
    %title Yellow Mountain
    %meta{:name => 'description', :content => "We build awesome web applications."}
    %meta{:property => 'og:title', :content => 'Yellow Mountain'}
    %meta{:property => 'og:description', :content => 'We build awesome web applications.'}
    %meta{:property => 'og:type', :content => 'website'}
    %meta{:property => 'og:url', :content => 'http://yellowmountain.io/'}
    %meta{:property => 'og:image', :content => image_url('static_logo_temp.png')}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = yield